#profiel{
  margin-bottom: 50px;
  .heading{
    background-color: $green;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
      border-radius: 50%;
    }
    p, h5{
      color: white;
      margin-bottom: 0px;
    }
  }
  .newFoto{
    border: 2px solid $green;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    i{
      font-size: 30px;
    }
  }
  .newWW{
    margin-top: 25px;
  }
  .buttons{
    button{
      margin-bottom: 15px;
      font-size: 22px;
    }
    #gids, #kortingen, #logout{
      background-color: transparent;
      color: $green;
      border: 3px solid $green;
    }
  }

}

#heading{
  .heading-bg{
  background-image: url(/img/background-gids.jpg);
  background-size: cover;
  height: 125px;
  }
  .terug{
    color: white;
  }
  img{
    border-radius: 50%;
    border: white 5px solid;
    margin-top: -50px;
  }
  h5{
    display: inline-block;
  }
  .online{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: green;
  }
  .col-xs-7{
    text-align: right;
  }
}

#gids-body{
  margin-bottom: 100px;
  max-height: 150%;
  overflow-x: hidden;
  overflow-y: hidden;
  .menu{
    margin-top: 30px;
    background-color: #eee;
    padding: 10px;
    font-size: 25px;
    text-align: center;
  }
  .info{
    width: 200%;

    white-space: nowrap;
    height: 100%;

    .info-inner{
      height: 200%;

      display: inline-block;
   vertical-align: top; /* here */
      width: 50%;
      overflow-y: scroll;
       white-space: normal;
    }
  }
  .green{
    color: $green;
    margin-top: 25px;
  }
}
#bestelGids{
  position: absolute;
  bottom: 0;
}
.comment{
  margin-top: 25px;
  .inner{
    padding: 10px;
    background-color: #eee;
  }
  .fa-thumbs-up{
    color: $green;
  }
  .fa-thumbs-down{
    color: red;
  }
  span, h5{
    display: inline-block;
  }
  span{
    margin-left: 25px;
  }
}
