#search{
  padding-top: 25px;
  padding-bottom: 25px;
  .fa.fa-sliders{
    font-size: 30px;
  }
  input{
    border-radius: 150px;
    padding-right:40px;
  }
  .fa.fa-search{
    font-size: 15px;
    position: absolute;
    top: 7.5px;
    right: 30px;
  }
}
