#search{
  padding-top: 25px;
  padding-bottom: 25px;
  .fa.fa-sliders{
    font-size: 30px;
  }
  input{
    border-radius: 150px;
    padding-right:40px;
  }
  .fa.fa-search{
    font-size: 15px;
    position: absolute;
    top: 7.5px;
    right: 30px;
    
  }
}
#lijstGidsen{
  margin-bottom: 50px;
}
.gistList-info{
  padding: 20px;
  p{
    margin: 0px;
    color: #b8b8b8;
  }
  h5{
      margin: 0px;
      color: black;
      display: inline-block;
  }
  span{
    height: 15px;
    width: 15px;
    margin-left: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  &:nth-child(even){
    background-color: #eee;
  }
  img{
    border-radius: 50%;
  }
}
#filterscreen{
  top: 0;
  display: none;
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,1);
  #heading{
    background-color: $green;
    padding-bottom: 50px;
    color: white;
    letter-spacing: 1.1px;
  }
  #close{
    margin-top: 10px;
    font-size: 30px;
  }
  .marginTopBig{
    margin-top: 10px;
  }
  .marginTopSmall{
    margin-top: 25px;
  }
  button{
    position: absolute;
    bottom: 0;
  }
}
